@charset "utf-8";
/* ##############################
	# 리셋 스타일
############################## */

/* common */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html {font-size:10px; line-height:1.5;}
body {font-family:"DroidSansFallback", "Apple SD Gothic Neo", "Helvetica Neue"; font-size:1.4rem; line-height:1.5; color:#202020;/* font:12px/1.5 "SF Pro KR","Helvetica Neue","Helvetica","Arial","sans-serif"; word-break:break-all; word-wrap:break-word; -ms-word-break:break-all; -webkit-overflow-scrolling:touch; */ -webkit-text-size-adjust:none; background-color:#f9f9f9;}
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; background:transparent;}
table {border-collapse:collapse; border-spacing:0;}
caption, legend {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
ul, ol {list-style-type:none;}
a {text-decoration:none;color:#202020; /* -webkit-tap-highlight-color:transparent; */}
i, em, address {font-style:normal;}
img {width:100%; border:0; vertical-align:top;}
fieldset {min-width:0; /* 필드셋 너비 버그용 */}

input,
select,
textarea {margin:0; padding:0; font-weight:400; font-family:"DroidSansFallback", "Apple SD Gothic Neo", "Helvetica Neue"; font-size:1.4rem; line-height:1.5; vertical-align:middle; border-radius:0; outline:none; appearance:none; -webkit-appearance:none; -moz-appearance:none; /* font:normal 1.4rem/1.5 "SF Pro KR","Helvetica Neue","Helvetica","Arial","sans-serif"; */}
input::-ms-clear {display:none;}
input::-webkit-search-cancel-button {display:none;}


button {margin:0; padding:0; color:#666; border:0 none; background-color:transparent; font-weight:400; font-family:"DroidSansFallback", "Apple SD Gothic Neo", "Helvetica Neue"; font-size:1.4rem; line-height:1.5; vertical-align:middle; outline:none; cursor:pointer; /* font:normal 1.4rem/1.5 "SF Pro KR","Helvetica Neue","Helvetica","Arial","sans-serif"; */}
button::-moz-focus-inner {padding:0; border:0;} /* firefox 여백방지 */

/* 약속어 */
.hide {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
.txt_cut {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

.align_left {text-align:left;}
.align_center {text-align:center;}
.align_right {text-align:right;}

/*@media (max-width:320px) { html {font-size:10px;} }*/
/*@media (min-width:375px) { html {font-size:10.416px;} }*/
/*@media (min-width:384px) { html {font-size:10.666px;} }*/
/*@media (min-width:412px) { html {font-size:11.444px;} }*/
/*@media (min-width:414px) { html {font-size:11.5px;} }*/
/*@media (min-width:768px) { html {font-size:14px;} }*/
/*
@media (min-width:360px) { html {font-size:11.25px;} }
@media (min-width:375px) { html {font-size:11.71875px;} }
@media (min-width:384px) { html {font-size:12px;} }
@media (min-width:412px) { html {font-size:12.875px;} }
@media (min-width:414px) { html {font-size:12.93px;} }
@media (min-width:768px) { html {font-size:14px;} }
*/